parameters:
    level: 9
    paths:
        - src
    scanFiles:
          - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
          - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
          - %currentWorkingDirectory%/vendor/craftcms/cms/src/behaviors/CustomFieldBehavior.php.template
    excludePaths:
          - %currentWorkingDirectory%/src/phpstan/ThrowIfTypeSpecifyingExtension.php
          - %currentWorkingDirectory%/src/phpstan/AbortIfFunctionTypeSpecifyingExtension.php
