{% do view.registerAssetBundle("markhuot\\craftai\\assetbundles\\CraftAi") %}

<div class="meta ai-py-14">
    <div class="heading">
        <label id="new-filename-label" for="new-filename">Caption</label>
        {% if caption %}
            <p>
                <em>{{ caption }}</em>
                <a href="#" class="formsubmit" data-action="ai/image/caption" data-event-data='{"assetId": {{ asset.id }}}'>regenerate?</a>
            </p>
        {% else %}
            <p><em>No caption exists, <a href="#" class="formsubmit" data-action="ai/image/caption" data-event-data='{"assetId": {{ asset.id }}}'>generate a caption now</a>?</em></p>
        {% endif %}
    </div>
</div>

<script>
    const button = document.createElement('a');
    button.classList.add('btn');
    button.href = '{{ url('ai/images/edit', {assetId: asset.id})|raw }}';
    button.innerHTML = 'Edit with AI';
    document.querySelector('.image-actions.buttons').appendChild(button);
</script>
