{% import '_includes/forms.twig' as forms %}

<div class="btngroup">
    {{ forms.submitButton({
        label: 'Generate',
        class: 'btn submit',
    }) }}
    {{ forms.button({
        label: '',
        class: 'btn submit menubtn',
    }) }}
    <div class="menu">
        <ul>
            {% for backend in backends %}
                <li>
                    {{ tag('a', {
                        text: 'Generate with ' ~ backend.name,
                        class: 'formsubmit',
                        data: {
                            params: {'backend': backend.id}
                        }
                    }) }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
